*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.parent {
    width: 50%;
    height: 400px;
    background-color: orange;
}

.box{
    background-color: grey;
    width: 50%;
    padding-top: 25%;
    transition: 1s;
}

.box:hover{
    width: 100%;
}
